 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 1; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1; PADDING-TOP: 0px
}
BODY {
	FONT-SIZE: 0.62em; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
FIELDSET {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
UL {
	LIST-STYLE-TYPE: none
}
OL {
	LIST-STYLE-TYPE: none
}
A {
	COLOR: #005fa0; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
.iconLinks LI {
	DISPLAY: inline
}
INPUT {
	BORDER-RIGHT: #2b5775 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #2b5775 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 1em; BACKGROUND: url(../img/inputBg.gif) #fff no-repeat left top; PADDING-BOTTOM: 3px; BORDER-LEFT: #2b5775 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #2b5775 1px solid; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
TEXTAREA {
	BORDER-RIGHT: #2b5775 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #2b5775 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 1em; BACKGROUND: url(../img/inputBg.gif) #fff no-repeat left top; PADDING-BOTTOM: 3px; BORDER-LEFT: #2b5775 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #2b5775 1px solid; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
SELECT {
	BORDER-RIGHT: #2b5775 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #2b5775 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 1em; BACKGROUND: url(../img/inputBg.gif) #fff no-repeat left top; PADDING-BOTTOM: 3px; BORDER-LEFT: #2b5775 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #2b5775 1px solid; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
SELECT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
SELECT OPTION {
	PADDING-RIGHT: 5px
}
LABEL {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 1.1em; PADDING-BOTTOM: 3px
}
P {
	COLOR: #333
}
.simpleText {
	FONT-SIZE: 1.1em; MARGIN: 0.5em 0px; LINE-HEIGHT: 1.15
}
.warning {
	PADDING-RIGHT: 5px; PADDING-LEFT: 30px; BACKGROUND: url(../img/iconWarning.gif) #fff no-repeat 5px 5px; PADDING-BOTTOM: 5px; MARGIN: 0.5em 0px; LINE-HEIGHT: 1.15; PADDING-TOP: 5px
}
.warning STRONG {
	DISPLAY: block; PADDING-BOTTOM: 3px
}
.default {
	MARGIN: 0.5em 0px
}
.default LI {
	FLOAT: left; PADDING-BOTTOM: 10px; OVERFLOW: hidden; MARGIN-RIGHT: 10px
}
.default .buttons {
	CLEAR: both
}
.default .first {
	CLEAR: left
}
.default .alone {
	FLOAT: none; MARGIN: 0px
}
.textType1 {
	WIDTH: 190px
}
.textType2 {
	WIDTH: 400px
}
.textType3 {
	WIDTH: 45px
}
.signup {
	PADDING-RIGHT: 30px; PADDING-LEFT: 30px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
H1 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 10px; FONT-SIZE: 1.8em; Z-INDEX: 9; BACKGROUND: url(../img/titleBg.gif) #e1e1e1 no-repeat left top; MARGIN-BOTTOM: 1em; PADDING-BOTTOM: 5px; COLOR: #2b5775; PADDING-TOP: 3px; POSITION: relative
}
.subTitle1 {
	FONT-WEIGHT: bold; FONT-SIZE: 1.5em; MARGIN: 0.5em 0px; COLOR: #2b5775
}
.header {
	BACKGROUND: url(../img/headerBg.gif) no-repeat left top; POSITION: relative; HEIGHT: 136px
}
.header .logo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 40px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 10px
}
.bannerHeader {
	PADDING-RIGHT: 50px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 20px
}
.bannerHeader IMG {
	BORDER-RIGHT: #2b5775 1px solid; BORDER-TOP: #2b5775 1px solid; BORDER-LEFT: #2b5775 1px solid; WIDTH: 468px; BORDER-BOTTOM: #2b5775 1px solid; HEIGHT: 60px
}
.search {
	CLEAR: right; RIGHT: 5px; FLOAT: right; BOTTOM: 7px; POSITION: absolute
}
.search LABEL {
	PADDING-RIGHT: 5px; DISPLAY: inline
}
.search INPUT {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN-LEFT: 5px; WIDTH: 120px; PADDING-TOP: 1px
}
.breadcrumbs {
	PADDING-RIGHT: 10px; PADDING-LEFT: 20px; BACKGROUND: url(../img/area1Bg.gif) no-repeat left top; PADDING-BOTTOM: 22px; OVERFLOW: hidden; PADDING-TOP: 12px
}
.breadcrumbs A {
	COLOR: #fff
}
.breadcrumbs P {
	PADDING-LEFT: 20px; FONT-SIZE: 1.1em; FLOAT: left; COLOR: #ccf
}
.breadcrumbs P STRONG {
	COLOR: #fca101
}
.breadcrumbs SPAN {
	FLOAT: right
}
.boxNews {
	MARGIN-BOTTOM: 2em; OVERFLOW: hidden
}
.boxNews .newsHeader {
	OVERFLOW: hidden
}
.boxNews .newsHeader H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 1.4em; BACKGROUND: url(../img/headerNewsbg.gif) #204158 no-repeat left top; PADDING-BOTTOM: 3px; COLOR: #fff; PADDING-TOP: 3px
}
.boxNews .newsHeader H2 .category A {
	COLOR: #fca101
}
.boxNews .newsHeader .sendBy {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 1.1em; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BACKGROUND-COLOR: #cacaca
}
.boxNews .newsFooter {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 1.1em; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BACKGROUND-COLOR: #cacaca
}
.boxNews .newsBody {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 1.2em; PADDING-BOTTOM: 10px; OVERFLOW: hidden; PADDING-TOP: 10px
}
.boxNews .newsBody P {
	FLOAT: left; WIDTH: 490px
}
.boxNews .newsBody A {
	COLOR: #000000; TEXT-DECORATION: none
}
.boxNews .newsBody A:hover {
	TEXT-DECORATION: underline
}
.boxNews .newssectionBody {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 1.2em; PADDING-BOTTOM: 10px; OVERFLOW: hidden; PADDING-TOP: 10px
}
.boxNews .newssectionBody P {
	FLOAT: left; WIDTH: 570px
}
.boxNews .newssectionBody A {
	COLOR: #000000; TEXT-DECORATION: none
}
.boxNews .newssectionBody A:hover {
	TEXT-DECORATION: underline
}
.boxNews .newsFooter {
	CLEAR: both
}
.boxNews .newsFooter UL {
	DISPLAY: block; PADDING-BOTTOM: 3px
}
.boxNews .newsFooter UL LI {
	DISPLAY: inline
}
#mainContent .iconLinks {
	BORDER-TOP: #2b5775 1px solid; PADDING-TOP: 20px; TEXT-ALIGN: center
}
.pages {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 20px; OVERFLOW: hidden; PADDING-TOP: 20px; TEXT-ALIGN: center
}
.pages H4 {
	DISPLAY: inline; FONT-WEIGHT: normal; FONT-SIZE: 1.1em
}
.pages UL {
	DISPLAY: inline
}
.pages UL LI {
	DISPLAY: inline; PADDING-LEFT: 3px; FONT-SIZE: 1.1em
}
.pages UL .selected {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; BACKGROUND: #6693c5; PADDING-BOTTOM: 2px; COLOR: #fff; PADDING-TOP: 2px; TEXT-ALIGN: center
}
P.pageCompiled {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 20px; PADDING-TOP: 20px; TEXT-ALIGN: center
}
.avatar {
	FLOAT: left; MARGIN-RIGHT: 10px
}
.perfil {
	FONT-SIZE: 1.2em; PADDING-BOTTOM: 10px; OVERFLOW: hidden; COLOR: #333
}
.perfil DT {
	FONT-WEIGHT: bold; FLOAT: left; MARGIN-RIGHT: 5px
}
.perfil DD {
	PADDING-BOTTOM: 5px
}
.perfil DD SPAN {
	FONT-SIZE: 0.85em
}
.links {
	PADDING-RIGHT: 0px; PADDING-LEFT: 105px; FONT-SIZE: 1.1em; PADDING-BOTTOM: 10px; PADDING-TOP: 5px
}
.sendMsg {
	PADDING-RIGHT: 0px; PADDING-LEFT: 25px; BACKGROUND: url(../img/iconSendMsg.gif) no-repeat left top; PADDING-BOTTOM: 4px; MARGIN-RIGHT: 10px; PADDING-TOP: 3px
}
.viewCv {
	PADDING-RIGHT: 0px; PADDING-LEFT: 25px; BACKGROUND: url(../img/iconViewCv.gif) no-repeat left top; PADDING-BOTTOM: 4px; PADDING-TOP: 3px
}
.viewPerfil .subTitle1 {
	PADDING-LEFT: 105px
}
.viewPerfil .articles {
	PADDING-LEFT: 105px
}
.menu LI A {
	DISPLAY: block
}
 HTML .menu LI {
	FLOAT: left; HEIGHT: 1%
}
 HTML .menu LI A {
	HEIGHT: 1%
}
.area2 {
	BACKGROUND: url(../img/area2Bg.gif) no-repeat right top
}
.menu {
	WIDTH: 159px
}
.menu LI {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BORDER-LEFT: #999 1px solid; BORDER-BOTTOM: #999 1px solid; BACKGROUND-COLOR: #ccc
}
.menu LI A {
	PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: #999 5px solid; COLOR: #333; PADDING-TOP: 4px
}
.menu .selected {
	BACKGROUND-COLOR: #ddd
}
.menu .selected A {
	PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: #fca101 5px solid; COLOR: #333; PADDING-TOP: 4px
}
.menu LI A:hover {
	BORDER-LEFT: #fca101 5px solid; TEXT-DECORATION: none
}
.menu LI UL LI A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 4px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
UL#subMenu {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; WIDTH: 159px; PADDING-TOP: 5px
}
UNKNOWN {
	MARGIN-TOP: 1px; BACKGROUND: #ddd
}
UNKNOWN {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none; outline: none
}
UNKNOWN {
	BORDER-LEFT: #fca101 5px solid
}
UL.subMenu {
	PADDING-RIGHT: 0px; DISPLAY: none; PADDING-LEFT: 6px; BACKGROUND: #ccc; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
UL.subMenu A {
	DISPLAY: block; PADDING-LEFT: 4px; BORDER-LEFT: #999 5px solid; TEXT-DECORATION: none; outline: none
}
UL.subMenu A:hover {
	BORDER-LEFT: #fca101 5px solid
}
.area2 .iconLinks {
	PADDING-RIGHT: 16px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 15px; TEXT-ALIGN: center
}
.area2 .iconLinks LI {
	DISPLAY: block; FLOAT: none; MARGIN-BOTTOM: 10px
}
.area3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 14px; BACKGROUND: url(../img/area3Bg.gif) no-repeat left top; PADDING-BOTTOM: 10px; COLOR: #ccf; PADDING-TOP: 7px
}
.area3 .date {
	PADDING-RIGHT: 10px; PADDING-LEFT: 14px; FONT-SIZE: 1.1em; PADDING-BOTTOM: 10px; PADDING-TOP: 5px; TEXT-ALIGN: center
}
.area3 .iconLinks {
	TEXT-ALIGN: center
}
.area3 P {
	COLOR: #ccf
}
.area3 LABEL {
	COLOR: #ccf
}
.area3 A {
	COLOR: #fff
}
.area3 H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1.2em; PADDING-BOTTOM: 4px; MARGIN: 20px 0px 10px; BORDER-LEFT: #a66900 4px solid; COLOR: #fff; PADDING-TOP: 4px; BACKGROUND-COLOR: #ffa200; TEXT-ALIGN: center
}
.area3 H3.first {
	MARGIN-TOP: 10px
}
.area3 FIELDSET {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.area3 FIELDSET UL LI {
	PADDING-BOTTOM: 5px; OVERFLOW: hidden
}
.area3 FIELDSET UL LI INPUT {
	WIDTH: 180px
}
.area3 FIELDSET UL .button {
	FLOAT: right
}
.area3 FIELDSET UL .radio SPAN.first {
	FLOAT: left
}
.area3 FIELDSET UL .radio SPAN.last {
	FLOAT: right
}
.area3 FIELDSET UL .radio LABEL {
	PADDING-RIGHT: 5px; DISPLAY: inline; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FLOAT: none; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.area3 FIELDSET UL .radio LABEL.first {
	PADDING-RIGHT: 18px
}
.area3 FIELDSET UL .radio INPUT {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 1em; BORDER-RIGHT-WIDTH: 0px
}
.signupForgetPass {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.signupForgetPass P {
	FONT-SIZE: 1.1em
}
.signupForgetPass .signup {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 1.2em; PADDING-BOTTOM: 15px; PADDING-TOP: 5px
}
.signupForgetPass .validation {
	DISPLAY: block; PADDING-TOP: 15px
}
.lastNews UL {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.lastNews UL LI {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 1.1em; BACKGROUND: url(../img/arrowWhite.gif) no-repeat left top; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.tagCloud UL {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.5; PADDING-TOP: 0px
}
.tagCloud UL LI {
	PADDING-RIGHT: 3px; DISPLAY: inline
}
.tagCloud UL .level1 {
	FONT-SIZE: 1em
}
.tagCloud UL .level2 {
	FONT-SIZE: 1.1em
}
.tagCloud UL .level3 {
	FONT-SIZE: 1.2em
}
.tagCloud UL .level4 {
	FONT-SIZE: 1.3em
}
.tagCloud UL .level5 {
	FONT-WEIGHT: bold; FONT-SIZE: 1.4em
}
.tagCloud UL .level6 {
	FONT-WEIGHT: bold; FONT-SIZE: 1.4em
}
.tagCloud UL .level6 A {
	COLOR: #ffa200
}
.area3 .topList {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.2; PADDING-TOP: 0px
}
.area3 .topList LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; OVERFLOW: hidden; PADDING-TOP: 2px
}
.area3 .topList LI A {
	FONT-SIZE: 1.1em; FLOAT: left
}
.area3 .topList LI SPAN {
	FLOAT: right
}
.area3 .topList LI SPAN SPAN {
	DISPLAY: block; FLOAT: none
}
.lastNewMembers DL {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 10px
}
.lastNewMembers DL DT {
	DISPLAY: inline
}
.lastNewMembers DL DD {
	DISPLAY: inline
}
.footer {
	PADDING-RIGHT: 3px; PADDING-LEFT: 165px; Z-INDEX: 10; BACKGROUND: url(../img/footerBg.gif) no-repeat left top; PADDING-BOTTOM: 3px; PADDING-TOP: 2px; POSITION: relative
}
.footer P {
	FONT-SIZE: 1.1em; PADDING-TOP: 3px
}
.footer SPAN {
	DISPLAY: block
}
.principal {
	FONT-SIZE: 1.1em; MARGIN: 0.5em 0px; COLOR: #333; LINE-HEIGHT: 1.15
}
.artigo {
	FONT-SIZE: 1.1em; MARGIN: 0.5em 0px; COLOR: #333; LINE-HEIGHT: 1.15
}
UL.lista {
	DISPLAY: block; LIST-STYLE-POSITION: inside; MARGIN: 5px 0px 5px 15px; LIST-STYLE-TYPE: disc
}
OL.lista {
	DISPLAY: block; LIST-STYLE-POSITION: inside; MARGIN: 5px 0px 5px 15px; LIST-STYLE-TYPE: decimal
}
BLOCKQUOTE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 25px; FONT-SIZE: 1.1em; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #337eb2 10px solid; COLOR: #333; PADDING-TOP: 0px
}
PRE {
	FONT-SIZE: 1.1em; MARGIN: 0px; OVERFLOW: auto; WIDTH: 600px; COLOR: #2b5775; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e0e0e0
}
STRONG {
	FONT-WEIGHT: bold; FONT-SIZE: 1.1em
}
