@import url('dropdown-behavior.css');

body{margin:12px 0px}

.ra1 *,.ra2 * {margin:0;padding:0;list-style:none}
.ra1{margin:0;min-width:800px;_width:800px;float:left;width:100%;min-height:61px;_height:61px}
.ra2{margin:0px 9px 0 !important}
.ra5{margin:0 9px !important;min-width:780px;_width:780px;width:auto;}
.ra5 a{text-decoration:none}

.a0v2 .ra2{margin:0 !important}
.a0v2 .logo {padding-left:12px}
.a0v2 #oraclesunmenu {margin-right:0}
.a0v2 .ra5 {margin:0 !important}
.a0v2 .secureSearch {margin-right:3px !important}

#panelDiva {position:absolute;top:18px;right:0;visibility:hidden;z-index:1000;width:140px;border-right:#9a9a9a 1px solid;border-top:#9a9a9a 1px solid;border-left:#9a9a9a 1px solid;padding:0;border-bottom:#9a9a9a 1px solid;background-color:#fff}
#oraclesunmenu{position:relative;float:right;margin-right:9px;z-index:1000;_margin-right:5px}
#oraclesunmenu img[width="101"]{width:107px !important}

.formFieldStyle {font-size:11px;line-height:14px !important;color:#000;text-decoration:none}
.header {display:block;width:100%;padding:2px 0px 5px 0px}
.logo {width:140px;float:left;padding:21px 0 0 21px}
.welcomeMsg {text-align:right;font-size:10px;padding:5px 12px 0px 0px;float:right}
* html .secureSearch {margin:0 6px 0 0}
.secureSearch {text-align:right;padding:10px 0 11px;margin:20px 12px 0 0;*float:right;*clear:both;*padding-top:4px;*margin:0 12px 0 0} 
.secureSearch a img{font-size:11px;vertical-align /*\**/:top\9;} /* ie 8 */
*+html .secureSearch a img{vertical-align:-2px} /* ie 7 */

a.footerLinks{font-size:10px !important}
a.footerLinks:visited {color:#000}
div.footerLinks{float:right;padding:8px;font-size:10px !important}
div.footerLinks span.br{display:block;height:0px;text-indent:-20000px;width:1px}
.a0v2 div.footerLinks span.br,.a0v1 div.footerLinks span.br{display:inline;height:auto;text-indent:0}

.greybarhomebot {background:#DCDCDC;height:7px;border-top:#D1CFCF solid 1px;margin-top:7px;float:left;width:100%;margin-top:20px}

.lightbox_overlay {display:none;position:fixed;top:0%;left:0%;width:100%;height:100%;background-color:black;z-index:1001;-moz-opacity:0.6;opacity:.60;filter:alpha(opacity=60);overflow:auto}
.sitefinder_content {position:absolute;right:20px;z-index:1002;overflow:auto;top:5px}

#navigation {font-family:Arial;font-size:12px;font-weight:bold;height:43px;min-width:780px;background:transparent url('../im/navigation-background.png') left top repeat-x;padding:0px;margin:-1px 0 0 0 !important;;margin:-2px 0 0 0 !important}
#navigation li {padding:0px !important;margin:0px !important;list-style:none;list-style-image:none;float:left;height:43px}
#navigation li p,#navigation li p a {float:left;height:43px}
#navigation li a {padding:0 15px;text-decoration:none;color:#000;}
#navigation li p span {margin:12.5px 0;padding-right:1px}
#navigation li.top-level p a {height:38px;border-right:1px solid #c0c0c0;}
#navigation li.top-level p span {padding:0}
#navigation li.special {float:right;}
#navigation a {text-decoration:none;}
#navigation li.special a {border:none;}
#navigation li.hover a,#navigation li:hover a {text-decoration:none;}
#navigation li p a span {display:block;text-align:center;}
#navigation li {background:transparent url('../im/navigation-item-background.png') left bottom repeat-x;}
#navigation li.hasSubmenu {background:transparent url('../im/navigation-submenu-item-background.png') left bottom repeat-x;}
#navigation li.first p,#navigation li:first-child p {background:transparent url('../im/navigation-first-button-cap.png') left bottom no-repeat;}
#navigation li.first p:hover {background:transparent url('../im/navigation-first-button-cap.png') left top no-repeat;}
#navigation li.first.active,#navigation li.active:first-child,#navigation li.hover,#navigation li:hover {background-position:left top;background-color:#fff;}
#navigation li.special{background:transparent url('../im/navigation-last-button-cap.png') 0 0 no-repeat;width:5px;}

.snPstbgdiv {background-color:#cac9c9}
.sngPst {font-size:11px;line-height:15px;color:#000;text-align:left}
a.sngPst:link {color:#000;text-decoration:none}
a.sngPst:visited {color:#000;text-decoration:none}
a.sngPst:hover {color:#F00;text-decoration:underline}
a.sngPsta {font-size:11px;line-height:13px;color:#000;text-align:left}
a.sngPsta:link {color:#000;text-decoration:none;display:block;padding:3px 10px}
a.sngPsta:visited {color:#000;text-decoration:none;display:block;padding:3px 10px}
a.sngPsta:hover {color:#fff !important;text-decoration:none;display:block;background-color:#9a9a9a;padding:3px 10px}
e:11px;vertical-align /*\**/:top\9;} /* ie 8 */
*+html .secureSearch a img{vertical-align:-2px} /* ie 7 */

a.footerLinks{font-size:10px !important}
a.footerLinks:visited {color:#000}
div.footerLinks{float:right;padding:8px;font-size:10px !important}
div.footerLinks span.br{display:block;height:0px;text-indent:-20000px;width:1px}
.a0v2 div.footerLinks span.br,.a0v1 div.footerLinks span.br{display:inline;height:auto;text-indent:0}

.greybarhomebot {background:#DCDCDC;height:7px;border-top:#D1CFCF solid 1px;margin-top:7px;float:left;width:100%;margin-top:20px}

.lightbox_overlay {display:none;position:fixed;top:0%;left:0%;width:100%;height:100%;background-color:black;z-index:1001;-moz-opacity:0.6;opacity:.60;filter:alpha(opacity=60);overflow:auto}
.sitefinder_content {position:absolute;right:20px;z-index:1002;overflow:auto;top:5px}

#navigation {font-family:Arial;font-size:12px;font-weight:bold;height:43px;min-width:780px;background:transparent url('../im/navigation-background.png') left top repeat-x;padding:0px;margin:-1px 0 0 0 !important;;margin:-2px 0 0 0 !important}
#navigation li {padding:0px !important;margin:0px !important;list-style:none;list-style-image:none;float:left;height:43px}
#navigation li p,#navigation li p a {float:left;height:43px}
#navigation li a {padding:0 15px;text-decoration:none;color:#000;}
#navigation li p span {margin:12.5px 0;padding-right:1px}
#navigation li.top-level p a {height:38px;border-right:1px solid #c0c0c0;}
#navigation li.top-level p span {padding:0}
#navigation li.special {float:right;}
#navigation a {text-decoration:none;}
#navigation li.special a {border:none;}
#navigation li.hover a,#navigation li:hover a {text-decoration:none;}
#navigation li p a span {display:block;text-align:center;}
#navigation li {background:transparent url('../im/navigation-item-background.png') left bottom repeat-x;}
#navigation li.hasSubmenu {background:transparent url('../im/navigation-submenu-item-background.png') left bottom repeat-x;}
#navigation li.first p,#navigation li:first-child p {background:transparent url('../im/navigation-first-button-cap.png') left bottom no-repeat;}
#navigation li.first p:hover {background:transparent url('../im/navigation-first-button-cap.png') left top no-repeat;}
#navigation li.first.active,#navigation li.active:first-child,#navigation li.hover,#navigation li:hover {background-position:left top;background-color:#fff;}
#navigation li.special{background:transparent url('../im/navigation-last-button-cap.png') 0 0 no-repeat;width:5px;}

.snPstbgdiv {background-color:#cac9c9}
.sngPst {font-size:11px;line-height:15px;color:#000;text-align:left}
a.sngPst:link {color:#000;text-decoration:none}
a.sngPst:visited {color:#000;text-decoration:none}
a.sngPst:hover {color:#F00;text-decoration:underline}
a.sngPsta {font-size:11px;line-height:13px;color:#000;text-align:left}
a.sngPsta:link {color:#000;text-decoration:none;display:block;padding:3px 10px}
a.sngPsta:visited {color:#000;text-decoration:none;display:block;padding:3px 10px}
a.sngPsta:hover {color:#fff !important;text-decoration:none;display:block;background-color:#9a9a9a;padding:3px 10px}
